<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nodejs Google OAuth</title>
    <!-- MATERIALIZE CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>

<body>
    <!-- Navigation -->
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">NodeGL</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <% if (!user) { %>
                        <li><a href="/auth/Google">Signin with Google</a></li>
                    <% } else {%>
                        <li><a href="/auth/Logout">Logout</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</body>
</html>